.container table {
  text-align: left;
  width: 100%;
  margin-top: 1rem;
}

.container tr th {
  padding: 0 1rem;
}

.container tr td {
  padding: 1rem;
  vertical-align: top;
}

.container tbody tr:not(:last-of-type) {
  border-bottom: 1px solid #e5e7eb;
}
