/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Source+
+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/******
 Global
 ******/
html,
body {
  @apply text-black font-montserrat md:text-lg;
}

a {
  @apply no-underline font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold font-heading;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

p {
  @apply text-lg;
}
/******
 Generics
 ******/

.wrapper {
  @apply px-6 mx-auto mt-8 max-w-screen-3xl md:px-8 3xl:px-6 4xl:px-0;
}

.container {
  @apply px-6 py-20 lg:py-24 mx-auto max-w-screen-xl;
}

.container-short {
  @apply px-6 mx-auto max-w-screen-xl;
}

.logo {
  @apply w-32 md:w-48;
}

.mobile-menu {
  @apply absolute top-0 left-0 z-10 w-full h-screen mt-16 text-gray-400 bg-white border-t border-gray-200 md:mt-20;
}

.desktop-about-icon {
  @apply inline-block w-2 ml-1;
}

.desktop-hover-menu {
  min-width: 100px;
  @apply absolute z-50 flex-col hidden px-4 py-4 font-light text-gray-200 bg-white rounded shadow-md group-hover:flex justify-evenly;
}

.desktop-about-menu {
  min-width: 120px;
}

.desktop-about-menu-es {
  min-width: 140px;
}

.desktop-about-menu-pt {
  min-width: 130px;
}

.footer {
  @apply px-6 py-10 text-white font-montserrat md:px-8 md:py-12 bg-secondary-100 3xl:px-0;
}

/*
Components
*/
.vf-btn-primary {
  @apply font-normal rounded-lg no-underline bg-blue-500 hover:bg-blue-700 text-white text-center whitespace-nowrap;
}

.vf-btn-primary-outlined {
  @apply font-normal rounded-lg no-underline border-blue-500 border-2 hover:border-blue-700 text-blue-500 text-center whitespace-nowrap;
}

.vf-btn-clear {
  @apply font-normal rounded-lg no-underline bg-white text-blue-500 text-center whitespace-nowrap;
}
