@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

.custom-card-height {
  min-height: 400px;
}

.form-inputs {
  border: 1px solid #393939;
}

.form-inputs::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: #a3a3a3;
}

/* Chrome, Safari, Edge, Opera */
.form-inputs::-webkit-outer-spin-button,
.form-inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-inputs[type="number"] {
  -moz-appearance: textfield;
}

.background-image {
  background-image: url("./DonateCardImg4.png");
  height: 45%;
}

.custom-title {
  font-family: "Montserrat";
  color: #393939;
}

.custom-paragraph {
  font-family: "Montserrat";
  color: #393939;
}

@media only screen and (max-width: 480px) {
  .background-image {
    height: auto;
  }
}
