.mobileNavHeader {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 2rem 1.5rem;
}

.positionLogo {
  position: absolute;
  left: 40%;
}

.mobileNavLinks {
  color: #39393a;
}

.getInvolvedBtn {
  width: 40%;
  text-decoration: none;
  text-align: center;
  font: Source Sans Pro;
  border-radius: 5px;
}

/*ARROW*/
.arrow.open {
  transition: transform 0.2s ease-in-out;
  transform: rotate(90deg);
}

.sublink {
  color: #39393a;
  display: block;
  padding: 1rem;
}

.sublink-link {
  text-decoration: none;
  color: #39393a;
}
